#logo {
    position: fixed;
	top:0;
	left:0;
	z-index: 2;

}

.beginning {
    z-index: 1;

}

@media (min-width: 1005px) {
    .beginning {
        width: 100vw;
        height: 65vh;
    }
    .moreleftman {
        position: absolute;
        left:  50vmin !important;
    }
}

@media (max-width: 1005px) {
    .beginning {
        height: 75vh;
    }
}
.accordion {
    text-align: center;
    width: 50vw;
    height: auto;
    position: absolute;
    left: 30vmin;
    bottom: 32vmax;
}